[[source]]
name = "pypi"
url = "https://pypi.doubanio.com/simple/"
verify_ssl = true

[dev-packages]
watchdog = "*"
faker = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
bootstrap-flask = "*"
flask-moment = "*"

[requires]
python_version = "3.8"
